@model TrabalhoPWEB1.Models.ViewModels.PesquisaVeiculoViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Resultado da pesquisa</h1>

<p style="margin-top:2%;"></p>

@if (User.Identity.IsAuthenticated && User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Adicionar novo Veiculo</a>
    </p>
}

<partial name="_QuickSearchPartialAdvanced" />

<div style="position:absolute; top:40vh; right:2vw; padding:8px 10px 15px 10px; border:1px solid black;">
    <p class="text-danger text-center" style="font-size:22px; font-weight:bold; letter-spacing:0.5px;">FILTROS</p>

    @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
    {
        <form method="post" action="/Veiculos/Search" style="display:flex; flex-direction:column; align-items:center;">
            <label style="margin-right:0.5rem;">Estado</label>
            <select onchange="this.form.submit()"
                class="form-select"
                id="filtroEstado"
                name="filtroEstado">
                <option></option>
                <option value="Novo">Novo</option>
                <option value="Semi-Novo">Semi-Novo</option>
                <option value="Usado">Usado</option>
                <option value="Muito-Usado">Muito-Usado</option>
            </select>
        </form>
    }
    else
    {
        <form method="post" action="/Veiculos/Search" style="display:flex; flex-direction:column; align-items:center;">
            <label style="margin-right:0.5rem;">Empresa</label>
            <select onchange="this.form.submit()"
                class="form-select"
                id="filtro"
                name="filtro"
                asp-items="ViewBag.EmpresaId">
                <option></option>
            </select>
        </form>
    }

    <form method="post" class="mt-3" action="/Veiculos/Search" style="display:flex; flex-direction:column; align-items:center;">
        <label style="margin-right:0.5rem;">Categoria Veículo</label>
        <select onchange="this.form.submit()"
                class="form-select"
                id="filtroTipo"
                name="filtroTipo"
                asp-items="ViewBag.CategoriaId">
            <option></option>
        </select>
    </form>
</div>

@if(Model.nResultados == 0){
    <p class="alert bg-warning">
        <b style="color:black;">
            Não foi possível encontrar veiculos com os dados introduzidos ou os veiculos pesquisados não estão disponiveis.<br> Por favor, reveja a sua
            pesquisa.
        </b>
    </p>
}
else{

    <div class="row row-cols-1 row-cols-md-3 mt-3 text-center">
        @foreach (var item in Model.ListaDeVeiculos)
        {
            @if (item.Disponivel)
            {

                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">
                                @Html.DisplayFor(model => item.Nome)
                            </h4>
                        </div>
                        <div class="card-body" style="text-shadow: 2px 2px 8px #000000; background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('@item.url'); background-size: cover; background-repeat: no-repeat">
                            <h1 class="card-title pricing-card-title text-white">
                                @Html.DisplayFor(modelItem => item.Preco)€<br>
                                <small class="text-muted fw-light"></small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4 text-white fw-bold">
                                <li>
                                    Empresa: @Html.DisplayFor(modelItem => item.Empresa.Nome)
                                </li>
                                <li>
                                    Avaliação Empresa:
                                    @if (item.Empresa.Avaliacao == 5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 4.5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 4)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 3.5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 3)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 2.5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 2)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 1.5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 1)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 0.5)
                                    {
                                        <span style="color:#EEEE03">
                                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        </span>
                                    }
                                    @if (item.Empresa.Avaliacao == 0)
                                    {
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                    }
                                </li>
                            </ul>
                            <div class="text-center">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                                {
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
                                {
                                    <a class="btn btn-primary ml-5" asp-controller="Reservas" asp-action="Pedido" asp-route-id="@item.Id">Reservar</a>
                                }
                                <a class="btn btn-dark ml-5" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                                {
                                    <a class="btn btn-danger ml-5" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
   }