@model IEnumerable<TrabalhoPWEB1.Models.Reservas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Reservas</h1>


<ul class="navbar-nav" style="margin-top:2%">
    <li>
        <form method="post">
            <input type="text" id="pesquisarTexto" name="pesquisarTexto"
                   placeholder="Ex.: Lamborghini" />
            <button id="botaoPesquisa" type="submit">
                🔍
            </button>
        </form>
    </li>
</ul>
<p class="text-danger mt-3" style="font-size:22px; font-weight:bold; letter-spacing:0.5px;">FILTROS</p>
<div style= "display:flex">
    
    <form method="post" style="display:flex; margin-right:1rem; align-items:center;">
        <label style="margin-right:0.5rem;">Categoria</label>
        <select onchange="this.form.submit()"
                class="form-select"
                    id="filtroCategoriaReserva"
                name="filtroCategoriaReserva"
                asp-items="ViewBag.CategoriaId">
            <option></option>
        </select>
    </form>
    
    <form method="post"  style="display:flex;  align-items:center;">
        <label style="margin-right:0.5rem;">Data Levantamento</label>
        <input type="date" id="pesquisaLevantamento" name="pesquisaLevantamento">
        <span class="text-danger"></span>
        <button id="botaoPesquisa" type="submit">
            🔍
        </button>
    </form>

     <form method="post"  style="display:flex;  align-items:center;">
    <label style="margin-left:1rem; margin-right:0.5rem;">Data Entrega</label>
    <input type="date" id="pesquisaEntrega" name="pesquisaEntrega">
    <span class="text-danger"></span>
    <button id="botaoPesquisa" type="submit">
        🔍
    </button>
    </form>

</div>




<table class="mt-4 table table-light table-striped text-center table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Veículo
            </th>
            <th>
                Empresa
            </th>
            <th>
                Data Pedido
            </th>
            <th>
                Data Inicio
            </th>
            <th>
                Data Fim
            </th>
            <th>
                Preço
            </th>
            
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.veiculo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.veiculo.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoReserva)€
            </td>
            
            <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.PrimeiroNome) @Html.DisplayFor(modelItem => item.ApplicationUser.UltimoNome)
            </td>
            <td>
                @if(item.veiculoRecebido == true){
                        <button class="btn btn-secondary" disabled>Terminada</button>
                }
                else{
                    @if(item.Estado == "Não Confirmada"){
                        <a class="btn btn-outline-success" asp-action="Confirmar" asp-route-id="@item.Id">Confirmar Reserva</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Rejeitar Reserva</a>
                    }
                    else{
                        @if(item.veiculoEntregue == false){
                            <a class="btn btn-outline-success" asp-action="EntregarVeiculo" asp-route-id="@item.Id">Entregar Veículo</a>
                        }
                        else{
                            <button disabled class="btn btn-secondary" asp-route-id="@item.Id">Veículo Entregue</button>
                        }
                    
                        <button class="btn btn-secondary" asp-route-id="@item.Id" disabled>Confirmada</button>
                    }
                
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                }

                
            </td>
        </tr>
}
    </tbody>
</table>
