@model IEnumerable<TrabalhoPWEB1.Models.Categorias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Lista de Categorias</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
{
    <p style="margin-top:2%;">
        <a class="btn btn-success" asp-action="Create">Adicionar nova Categoria</a>
    </p>
}

<table class="table table-light mt-2 table-striped text-center table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
