@model IEnumerable<Empresas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Lista de empresas</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
{
    <p style="margin-top:2%;">
        <a class="btn btn-success" asp-action="Create">Adicionar nova Empresa</a>
    </p>
}

<partial name="_QuickSearchPartial-Empresas" />

<div style="position:absolute; top:8vh; right:50vw; padding:8px 10px 15px 10px; border:1px solid black;">
    <p class="text-danger text-center" style="font-size:22px; font-weight:bold; letter-spacing:0.5px;">FILTROS</p>

    <form method="post" action="Empresas" style="display:flex; flex-direction:column; align-items:center;">
        <label style="margin-right:0.5rem;">Nome</label>
        <select onchange="this.form.submit()"
                class="form-select"
                id="filtroEmpresa"
                name="filtroEmpresa"
                asp-items="ViewBag.Nome">
            <option></option>
        </select>
    </form>

    <form method="post" class="mt-3" action="Empresas" style="display:flex; flex-direction:column; align-items:center;">
        <label style="margin-right:0.5rem;">Estado Subscrição</label>
        <select onchange="this.form.submit()"
                class="form-select"
                id="filtroSubs"
                name="filtroSubs"
                asp-items="ViewBag.EstadoSubscricao">
            <option></option>
        </select>
    </form>
</div>

<table class="table table-light mt-4 table-striped text-center table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Avaliação
            </th>
            <th>
                Estado Subscrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="font-weight:bold">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td style="align-items:center; font-size:larger;">
                    @if(item.Avaliacao == 5){
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                        </span>
                    }
                    @if(item.Avaliacao == 4.5){
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 4)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 3.5)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if(item.Avaliacao == 3){
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 2.5)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 2)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 1.5)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="StarHalf" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 1)
                    {
                        <span style="color:#EEEE03">
                            <svg bootstrap-icon="StarFill" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                            <svg bootstrap-icon="Star" width="18" height="18"></svg>
                        </span>
                    }
                    @if (item.Avaliacao == 0)
                    {
                        <span style="color:#EEEE03">
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                        <svg bootstrap-icon="Star" width="18" height="18"></svg>
                                    </span>
                    }
                    
                </td>
                <td style="font-size:larger; align-items:center">
                    @if(item.EstadoSubscricao == "Válida"){
                        @Html.DisplayFor(modelItem => item.EstadoSubscricao)
                        <svg style="padding:2px;color:green;" bootstrap-icon="CheckCircleFill" width="22" height="22"></svg>
                    }
                    @if(item.EstadoSubscricao == "Inválida"){
                        @Html.DisplayFor(modelItem => item.EstadoSubscricao)
                        <svg style="padding:2px;color:red;" bootstrap-icon="XCircleFill" width="22" height="22"></svg>
                    }
                </td>

                <td>
                    @if (item.EstadoSubscricao == "Válida")
                    {
                        <a class="btn btn-outline-danger" asp-action="Desativar" asp-route-id="@item.Id">Desativar Subscrição</a>
                    }
                    @if (item.EstadoSubscricao == "Inválida")
                    {
                        <a class="btn btn-outline-success" asp-action="Ativar" asp-route-id="@item.Id">Ativar Subscrição</a>
                    }
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>